<header></header>
<section>
        <div class="nav flex flex-column">
            <div class="flex justify-between">
                <img src="" alt="" class="fl ml2">
                <img src="" alt="" class="fr">
            </div>
            <div class="flex flex-wrap">
                <nav class="flex ml1 mb2 mt2">
                            <button  routerLink="" routerLinkActive="active">
                                <div class="triangle-down"></div>
                                <span>Nhân sự</span>
                            </button>
                            <button routerLink="" routerLinkActive="">
                                <div class="triangle-down"></div>Doanh thu</button>
                </nav>
            </div>
            
        </div>
      
</section>
<section class="main">
    <router-outlet></router-outlet>
</section>
<div class="w-100 mt2">
    <img src="./../../../assets//Capture5.PNG" alt="">
   
</div>
<footer></footer>