<header><img src="./../../../assets/Capture3.PNG" alt=""></header>
<section>
        <div class="nav row flex flex-column">
            <div class="row justify-between">
                <img src="./../../../assets/Capture.PNG" alt="" class="fl ml2">
                <img src="./../../../assets/Capture2.PNG" alt="" class="fr">
            </div>
            <div class="row">
                <nav class="flex ml4 mb2">
                            <button routerLink="" routerLinkActive="active">Nhân sự</button>
                            <button routerLink="/account" routerLinkActive="active">Doanh thu</button>
                </nav>
            </div>
            
        </div>
        <div class="filter h3 row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <img src="./../../../assets//Capture4.PNG" alt="">
                <h2 class="pl2">Báo cáo nhân sự công ty Gia Bảo</h2>
            </div>
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="row">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="block">
                            <label for="years">Năm</label>
                            <select id="years">
                                <option *ngFor="let year of years" label={{year}} value={{year}}>{{year}}</option>
                                <option value="">All..</option>
                            </select>
                        </div>
                        <div class="block">
                            <label for="months">Tháng</label>
                            <select id="months">
                                <option value="">All..</option>
                                <option *ngFor="let month of months" label={{month}} value={{month}}>{{month}}</option>  
                            </select>
                        </div>
                        
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="block">
                            <label for="branchs">Chi nhánh</label>
                            <select id="branches">
                                <option value="">All..</option>
                                <option *ngFor="let branch of branches" value={{branch}} label={{branch}}>{{branch}}</option>
                            </select>
                        </div>
                        <div class="block">
                            <label for="office">Phòng ban</label>
                            <select id="office">
                               <option *ngFor="let office of offices" value={{office}} label={{office}}>{{office}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                        <div class="block">
                            <label for="shops">Cửa hàng</label>
                            <select id="shops">
                                <option value="">All..</option>
                                <option *ngFor="let shop of shops" value={{shop}}>{{shop}}</option>
                            </select>
                        </div>
                        <div class="block">
                            <label for="idHrm">Mã nhân viên</label>
                            <select id="idHrm">
                                <option value="">All..</option>
                                <option *ngFor="let hrmId of hrmIds" label={{hrmId}} value={{hrmId}}>{{hrmId}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="block">
                    <label for="types">Hạng mục</label>
                    <select id="types">
                        <option *ngFor="let type of types" value={{type}} label={{type}} >{{type}}</option>
                    </select>
                </div>
                <div class="block">
                    <div class="btn btn-success">Lấy dữ liệu</div>
                </div>
            </div>
        </div>
</section>
<h3>Bảng báo cáo nhân sự</h3>
<router-outlet></router-outlet>
<footer></footer>