<ngx-charts-pie-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="receivedData"
      [legend]="showLegend"
      [explodeSlices]="explodeSlices"
      [labels]="showLabels"
      [gradient]="gradient"
      [doughnut]="doughnut"
      [customColors]="receivedDataForColor"
      (select)="onSelect($event)"
      [tooltipDisabled]="tooltipDisabled">
      <ng-template #tooltipTemplate let-model="model">
            <h5>
              {{model.name}}
            </h5>
            <h5>{{model.value}}%</h5>
          </ng-template>
</ngx-charts-pie-chart>
